.zen-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

.zen-backdrop textarea {
  background-color: white;
  border: 0;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6.375em;
  height: 100%;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 36em;
  outline: none;
  padding: 1em;
  resize: none;
  width: 100%;
}

#sync-status {
  position: fixed;
  right: 1em;
  bottom: 0.75em;
  color: #80868b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

@media (prefers-color-scheme: dark) {
  .zen-backdrop,
  .zen-backdrop textarea {
    background-color: #202124;
    color: #e8eaed;
  }
}
