textarea, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  margin-top: 2.5em;
  max-width: 30em;
}

label[for=comment] {
  color: #339966;
  display: block;
  font-style: italic;
  margin-bottom: 0.375em;
}

.zennable {
  position: relative;
}

.zennable textarea {
  background-color: #f6f6f6;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 1em;
  height: 10em;
  line-height: 1.5em;
  padding: 0.25em 0.5em;
  width: 100%;
}

.zennable textarea:focus {
  background-color: white;
}

.zen-backdrop textarea {
  height: 100%;
  font-size: 1.375em;
  max-width: 36em;
  padding: 1em;
  background-color: white;
  margin: 0 auto;
  border: 0;
  resize: none;
  border-radius: 0;
  outline: none;
}

.zen-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}


